<!doctype html>
<html>
<head>
  <title>Controller</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    html, body {
      height: 100%;
      width: 100%;

    }
    .square {
      height: 50%;
      width: 50%;
      background-color: black;
    }
  </style>
</head>
<body>
  <form action="http://127.0.0.1:3000/player_one" method="post">
    <input type="submit" value="Player 1"/>
    <input type="hidden" value="1" name="player_one">
  </form>
  <form action="http://127.0.0.1:3000/player_two" method="post">
    <input type="submit" value="Player 2"/>
    <input type="hidden" value="2" name="player_two">
  </form>
  <form action="http://127.0.0.1:3000/player_three" method="post">
    <input type="submit" value="Player 3"/>
    <input type="hidden" value="3" name="player_three">
  </form>
  <form action="http://127.0.0.1:3000/player_four" method="post">
    <input type="submit" value="Player 4"/>
    <input type="hidden" value="4" name="player_four">
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
  </script>
</body>
</html>
